@font-face {
font-family: "asagaoui-icons";
src: url("../icons/asagaoui-icons.woff2?45d863468c5fe7dbad90d5caa7192955") format("woff2");
font-weight: normal;
font-style: normal;
font-display: block;
}

%icon-base {
font-family: "asagaoui-icons" !important;
speak: never;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
display: inline-block;

&:before {
display: block;
width: 1em;
height: 1em;
line-height: 1;
}
}

[class^="ai-"],
[class*=" ai-"] {
@extend %icon-base;
}

[class^="aif-"],
[class*=" aif-"] {
@extend %icon-base;
}

[class^="ail-"],
[class*=" ail-"] {
@extend %icon-base;
}

    .aif-work:before {
    content: "\f101";
    }
    .aif-warning:before {
    content: "\f102";
    }
    .aif-update:before {
    content: "\f103";
    }
    .aif-transactions:before {
    content: "\f104";
    }
    .aif-tax:before {
    content: "\f105";
    }
    .aif-stamp:before {
    content: "\f106";
    }
    .aif-specialist:before {
    content: "\f107";
    }
    .aif-smartphone:before {
    content: "\f108";
    }
    .aif-search:before {
    content: "\f109";
    }
    .aif-seal_certificate:before {
    content: "\f10a";
    }
    .aif-public_offering:before {
    content: "\f10b";
    }
    .aif-privacy_protection:before {
    content: "\f10c";
    }
    .aif-printer:before {
    content: "\f10d";
    }
    .aif-personal_computer:before {
    content: "\f10e";
    }
    .aif-pension:before {
    content: "\f10f";
    }
    .aif-password:before {
    content: "\f110";
    }
    .aif-notification:before {
    content: "\f111";
    }
    .aif-new_window:before {
    content: "\f112";
    }
    .aif-municipality:before {
    content: "\f113";
    }
    .aif-mother_and_child:before {
    content: "\f114";
    }
    .aif-money:before {
    content: "\f115";
    }
    .aif-menu:before {
    content: "\f116";
    }
    .aif-medicine:before {
    content: "\f117";
    }
    .aif-me:before {
    content: "\f118";
    }
    .aif-mailing:before {
    content: "\f119";
    }
    .aif-luggage:before {
    content: "\f11a";
    }
    .aif-laws:before {
    content: "\f11b";
    }
    .aif-itinerary:before {
    content: "\f11c";
    }
    .aif-invoice:before {
    content: "\f11d";
    }
    .aif-information:before {
    content: "\f11e";
    }
    .aif-income:before {
    content: "\f11f";
    }
    .aif-inbox:before {
    content: "\f120";
    }
    .aif-immunization:before {
    content: "\f121";
    }
    .aif-house:before {
    content: "\f122";
    }
    .aif-history:before {
    content: "\f123";
    }
    .aif-help:before {
    content: "\f124";
    }
    .aif-health:before {
    content: "\f125";
    }
    .aif-fillable_card:before {
    content: "\f126";
    }
    .aif-fast_track:before {
    content: "\f127";
    }
    .aif-family:before {
    content: "\f128";
    }
    .aif-expenditure:before {
    content: "\f129";
    }
    .aif-error:before {
    content: "\f12a";
    }
    .aif-e_application:before {
    content: "\f12b";
    }
    .aif-download:before {
    content: "\f12c";
    }
    .aif-documents:before {
    content: "\f12d";
    }
    .aif-departure:before {
    content: "\f12e";
    }
    .aif-copy:before {
    content: "\f12f";
    }
    .aif-complete:before {
    content: "\f130";
    }
    .aif-code_reader:before {
    content: "\f131";
    }
    .aif-child:before {
    content: "\f132";
    }
    .aif-certification_with_seal:before {
    content: "\f133";
    }
    .aif-certification:before {
    content: "\f134";
    }
    .aif-bank_account:before {
    content: "\f135";
    }
    .aif-authentication:before {
    content: "\f136";
    }
    .aif-attention:before {
    content: "\f137";
    }
    .aif-arrow_up:before {
    content: "\f138";
    }
    .aif-arrow_right:before {
    content: "\f139";
    }
    .aif-arrow_left:before {
    content: "\f13a";
    }
    .aif-arrow_down:before {
    content: "\f13b";
    }
    .aif-arrival:before {
    content: "\f13c";
    }
    .aif-application:before {
    content: "\f13d";
    }
    .aif-add:before {
    content: "\f13e";
    }
    .ail-work:before {
    content: "\f13f";
    }
    .ail-update:before {
    content: "\f140";
    }
    .ail-transactions:before {
    content: "\f141";
    }
    .ail-tax:before {
    content: "\f142";
    }
    .ail-stamp:before {
    content: "\f143";
    }
    .ail-specialist:before {
    content: "\f144";
    }
    .ail-smartphone:before {
    content: "\f145";
    }
    .ail-search:before {
    content: "\f146";
    }
    .ail-seal_certificate:before {
    content: "\f147";
    }
    .ail-public_offering:before {
    content: "\f148";
    }
    .ail-privacy_protection:before {
    content: "\f149";
    }
    .ail-printer:before {
    content: "\f14a";
    }
    .ail-personal_computer:before {
    content: "\f14b";
    }
    .ail-pension:before {
    content: "\f14c";
    }
    .ail-password:before {
    content: "\f14d";
    }
    .ail-notification:before {
    content: "\f14e";
    }
    .ail-new_window:before {
    content: "\f14f";
    }
    .ail-municipality:before {
    content: "\f150";
    }
    .ail-mother_and_child:before {
    content: "\f151";
    }
    .ail-money:before {
    content: "\f152";
    }
    .ail-menu:before {
    content: "\f153";
    }
    .ail-medicine:before {
    content: "\f154";
    }
    .ail-me:before {
    content: "\f155";
    }
    .ail-mailing:before {
    content: "\f156";
    }
    .ail-luggage:before {
    content: "\f157";
    }
    .ail-laws:before {
    content: "\f158";
    }
    .ail-language:before {
    content: "\f159";
    }
    .ail-itinerary:before {
    content: "\f15a";
    }
    .ail-invoice:before {
    content: "\f15b";
    }
    .ail-information:before {
    content: "\f15c";
    }
    .ail-income:before {
    content: "\f15d";
    }
    .ail-inbox:before {
    content: "\f15e";
    }
    .ail-immunization:before {
    content: "\f15f";
    }
    .ail-house:before {
    content: "\f160";
    }
    .ail-history:before {
    content: "\f161";
    }
    .ail-help:before {
    content: "\f162";
    }
    .ail-health:before {
    content: "\f163";
    }
    .ail-fillable_card:before {
    content: "\f164";
    }
    .ail-fast_track:before {
    content: "\f165";
    }
    .ail-family:before {
    content: "\f166";
    }
    .ail-expenditure:before {
    content: "\f167";
    }
    .ail-expand_content:before {
    content: "\f168";
    }
    .ail-e_application:before {
    content: "\f169";
    }
    .ail-download:before {
    content: "\f16a";
    }
    .ail-documents:before {
    content: "\f16b";
    }
    .ail-departure:before {
    content: "\f16c";
    }
    .ail-copy:before {
    content: "\f16d";
    }
    .ail-complete:before {
    content: "\f16e";
    }
    .ail-collapse_content:before {
    content: "\f16f";
    }
    .ail-code_reader:before {
    content: "\f170";
    }
    .ail-child:before {
    content: "\f171";
    }
    .ail-check:before {
    content: "\f172";
    }
    .ail-certification_with_seal:before {
    content: "\f173";
    }
    .ail-certification:before {
    content: "\f174";
    }
    .ail-bank_account:before {
    content: "\f175";
    }
    .ail-authentication:before {
    content: "\f176";
    }
    .ail-attention:before {
    content: "\f177";
    }
    .ail-arrow_up:before {
    content: "\f178";
    }
    .ail-arrow_right:before {
    content: "\f179";
    }
    .ail-arrow_left:before {
    content: "\f17a";
    }
    .ail-arrow_down:before {
    content: "\f17b";
    }
    .ail-arrival:before {
    content: "\f17c";
    }
    .ail-application:before {
    content: "\f17d";
    }
    .ail-add:before {
    content: "\f17e";
    }
