<nav class="drawer-body">
    <ul class="">
        <li class="menulist">
            <strong class="menulist-title">はじめに</strong>
            <ul class="menulist">
                <li class="menulist-item"><a href="{{ "/docs/getting-started/introduction/" | relLangURL }}"
                                             class="menulist-link">インストール</a>
                </li>
                <li class="menulist-item"><a href="{{ "/docs/getting-started/directory-structure/" | relLangURL }}"
                                             class="menulist-link">ディレクトリ構成</a></li>
            </ul>
        </li>
        <li class="menulist">
            <strong class="menulist-title">カスタマイズ</strong>
            <ul class="menulist">
                <li class="menulist-item">
                    <a href="{{ "/docs/customize/overview/" | relLangURL }}" class="menulist-link">概要</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/customize/styles/" | relLangURL }}" class="menulist-link">styles</a>
                </li>
            </ul>
        </li>
        <li class="menulist">
            <strong class="menulist-title">レイアウト</strong>
            <ul class="menulist">
                <li class="menulist-item">
                    <a href="{{ "/docs/layout/container/" | relLangURL }}" class="menulist-link">コンテナ</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/layout/grid/" | relLangURL }}" class="menulist-link">グリッド</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/layout/content/" | relLangURL }}" class="menulist-link">コンテンツ</a>
                </li>
            </ul>
        </li>
        <li class="menulist">
            <strong class="menulist-title">コンポーネント</strong>
            <ul class="menulist">
                <li class="menulist-item">
                    <a href="{{ "/docs/components/accordion/" | relLangURL }}" class="menulist-link">アコーディオン</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/components/banner/" | relLangURL }}" class="menulist-link">バナー</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/components/emergency-banner/" | relLangURL }}" class="menulist-link">緊急時バナー</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/components/header/" | relLangURL }}" class="menulist-link">ヘッダー</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/components/bottomdock/" | relLangURL }}" class="menulist-link">ボトムナビゲーション</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/components/card/" | relLangURL }}" class="menulist-link">カード</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/components/breadcrumb/" | relLangURL }}" class="menulist-link">パンくずリスト</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/components/button/" | relLangURL }}" class="menulist-link">ボタン</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/components/carousel/" | relLangURL }}" class="menulist-link">カルーセル</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/components/drawer/" | relLangURL }}" class="menulist-link">ドロワー</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/components/modaldialog/" | relLangURL }}" class="menulist-link">モーダルダイアログ</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/components/langsel/" | relLangURL }}" class="menulist-link">ランゲージセレクター</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/components/mobilemenu/" | relLangURL }}" class="menulist-link">モバイルメニュー</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/components/pagination/" | relLangURL }}" class="menulist-link">ページネーション</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/components/table/" | relLangURL }}" class="menulist-link">テーブル</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/components/scrolltopbtn/" | relLangURL }}" class="menulist-link">スクロールトップボタン</a>
                </li>
            </ul>
        </li>
        <li class="menulist">
            <strong class="menulist-title">フォーム</strong>
            <ul class="menulist">
                <li class="menulist-item">
                    <a href="{{ "/docs/forms/overview/" | relLangURL }}" class="menulist-link">フォームグループ</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/forms/text-input/" | relLangURL }}" class="menulist-link">テキスト入力</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/forms/select/" | relLangURL }}" class="menulist-link">セレクター</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/forms/radio/" | relLangURL }}" class="menulist-link">ラジオボタン</a>
                </li>
                <li class="menulist-item">
                    <a href="{{ "/docs/forms/check/" | relLangURL }}" class="menulist-link">チェックボックス</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>