node_modules
package-lock.json
.idea
test/
demo/
website/public
website/.hugo_build.lock
website/assets/css/asagaoui.css
website/assets/css/asagaoui-icons.css
website/assets/css/asagaoui.min.css
website/assets/js/asagaoui.js
website/assets/js/asagaoui.min.js
website/layouts/partials/head/analytics.html
dist/icon/symbol
dist/js/asagaoui.js.*
/website/static/icons/asagaoui-icons.woff2
