node_modules
package-lock.json
.idea
.junie
test/
demo/
website-old/public
website-old/.hugo_build.lock
website-old/assets/css/asagaoui.css
website-old/assets/css/asagaoui-icons.css
website-old/assets/css/asagaoui.css.map
website-old/assets/css/asagaoui-icons.css.map
website-old/assets/css/asagaoui.min.css
website-old/assets/js/asagaoui.js
website-old/assets/js/asagaoui.min.js
website-old/layouts/partials/head/analytics.html
dist/icon/symbol
dist/js/asagaoui.js.*
/website-old/static/icons/asagaoui-icons.woff2

website/public
website/.hugo_build.lock
