{{ define "main" }}
    <div class="container-xl mt-5 mb-5">
        <h1 class="h1 mb-3">AsagaoUI Icons</h1>
        <div style="max-width: 672px;">
            <p>{{ i18n "icons-hero-a" }}
                <a rel="external" class="link" href="https://www.digital.go.jp/policies/servicedesign/designsystem/Illustration_Icons">{{ i18n "icons-hero-d" }}</a>
                {{ i18n "icons-hero-b" }}
                <a rel="external" href="" class="link">Material Symbols</a>
                {{ i18n "icons-hero-c" }}
            </p>
        </div>
    </div>
    <main class="">
        <section class="container-xl custom-icons-other">
            <h2 class="h2">{{ i18n "icons" }}</h2>
            <div class="custom-icons-other-grid">
                {{ range sort .Pages ".File.LogicalName" }}
                    <figure class="custom-icons-item">
                        <div class="custom-icons-item-icon">
                            {{ with index .Params.variants 0 }}
                                <i class="{{ .icon_class }}"></i>
                            {{ end }}
                        </div>
                        <figcaption class="custom-icons-item-text">
                            <a class="custom-icons-item-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </figcaption>
                    </figure>
                {{ end }}
            </div>
        </section>
        {{ .Content }}
    </main>
{{ end }}
