<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@graph": [
            {
                "@type": "WebSite",
                "name": "{{ site.Title }}",
                "url": "{{ .Permalink }}"
            },
            {
                "@type": "SoftwareApplication",
                "name": "{{ site.Title }}",
                "description": "{{ i18n "seo-description" }}",
                "applicationCategory": "DeveloperApplication",
                "operatingSystem": "Web",
                "license": "{{ .Permalink }}{{ "/docs/getting-started/license/" | relLangURL }}",
                "author": {
                    "@type": "Person",
                    "name": "Hiroshi ISOBE"
                },
                "downloadUrl": "https://github.com/ctpena/asagaoui/releases"
            }
        ]
    }
</script>
