.custom-layout-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.custom-side-menu {
    display: none;
    padding: 0 1rem;
}

.custom-main-content {
    order: 2;
    padding: 0 1rem;
}

.custom-toc {
    order: 1;
    padding: 0 1rem;
}

@media screen and (min-width: 1300px) {
    .custom-layout-grid {
        display: grid;
        grid-template-areas: "side main toc";
        grid-template-columns: 288px 704px 288px;
        gap: 0;
    }

    .custom-side-menu {
        display: block;
        grid-area: side;
        padding: 0 1rem;
    }

    .custom-main-content {
        grid-area: main;
        padding: 0 1rem;
    }

    .custom-toc {
        grid-area: toc;
        padding: 0 1rem;
    }
}

/* Home */
.custom-hero {
    background: #DEE6FF;
    background: linear-gradient(315deg, #DEE6FF, #F4EAFF);
}

/* Toc */
#TableOfContents a {
    display: inline-block;
    margin: .25rem 0;
    padding: .25rem 0;
    &:hover {
        text-decoration: underline;
    }
}
#TableOfContents li ul a {
    display: inline-block;
    margin: .25rem 1rem;
    padding: .25rem 0;
}
