.custom-layout-grid {
    display: grid;
    grid-template-columns: minmax(auto, 704px);
    grid-template-areas:"main";
    justify-content: center;
    margin: 0 auto;
}

.custom-main-content {
    grid-area: main;
    margin-top: 2.5rem;
    padding: 0 1rem;
    max-width: 704px;
    min-width: 100%;
}

.custom-side-menu {
    display: none;
    padding: 0 1rem;
    grid-area: side;
    margin-top: 2.5rem;
    position: relative;
    height: 100%;
}

.custom-toc {
    padding: 0 1rem;
    grid-area: toc;
    margin-top: 2.5rem;
    display: none;
}

@media (min-width: 901px) {
    .custom-layout-grid {
        grid-template-columns: 704px minmax(auto, 256px);
        grid-template-areas:"main toc";
    }

    .custom-toc {
        grid-area: toc;
        display: block;
        position: relative;
    }

    .custom-toc-container {
        position: sticky;
        margin-top: 4rem;
        top: 1rem;
    }
}

@media (min-width: 1100px) {
    .custom-layout-grid {
        grid-template-columns: minmax(auto, 288px) 704px minmax(auto, 256px);
        grid-template-areas:"side main toc";
    }

    .custom-side-menu {
        display: block;
    }

    .custom-side-menu-area {
        position: sticky;
        margin-top: 2.5rem;
        margin-right: 24px;
        top: 2.5rem;
    }
}

/* Home */
.custom-hero {
    background: #DEE6FF;
    background: linear-gradient(315deg, #DEE6FF, #F4EAFF);
}

/* Toc */
#TableOfContents a {
    display: inline-block;
    margin: .25rem 0;
    padding: .25rem 0;

    &:hover {
        text-decoration: underline;
    }
}

#TableOfContents li ul a {
    display: inline-block;
    margin: .25rem 1rem;
    padding: .25rem 0;
}

/* Blog */
.custom-blog-header {
    border-bottom: 1px solid #b3b3b3;
}

.custom-blog-layout {
    margin: 40px auto 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    grid-template-areas:
    "main side";
}

.custom-blog-main {
    grid-area: main;
    padding: 0 1rem;
}

.custom-blog-side {
    grid-area: side;
    padding: 0 1rem;
}

.content h1:first-child {
    margin-top: 0;
}
