/*
    Prism.js theme for AsagaoUI
*/

code[class*="language-"],
pre[class*="language-"] {
    background: none;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    background: #C5D7FB;
}

pre[class*="language-"] {
}

:not(pre) > code[class*="language-"] {
    padding: 0.2em 0.4em;
    border-radius: 4px;
    white-space: normal;
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #767676;
    font-style: italic;
}


.token.punctuation {
    color: #4d4d4d;
}


.token.namespace {
    color: #666666;
    opacity: 0.8;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #FE3939;
}


.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #259D63;
}


.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #FB5B01;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #3460FB;
    font-weight: 500;
}

.token.function,
.token.class-name {
    color: #8843E1;
}

.token.regex,
.token.important,
.token.variable {
    color: #D2A400;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.line-numbers .line-numbers-rows {
    border-right: 1px solid #cccccc;
}

.line-numbers-rows > span:before {
    color: #b3b3b3;
}

.line-highlight {
    background: linear-gradient(to right, #E8F1FE 70%, transparent);
}
