{{ define "main" }}
    <main class="">
        <article class="">
            <section class="custom-hero py-7">
                <div class="container-md">
                    <div class="d-flex justify-center">
                        {{ $logono := resources.Get "img/AsagaoUISymbolNOMargin.svg" }}
                        <img class="d-block" src="{{ $logono.RelPermalink }}" alt="{{ .Site.Title }}" width="80px"
                             height="80px">
                    </div>
                    <h1 class="fs-6xl fw-b text-center">AsagaoUI</h1>
                    <h2 class="mt-3 fs-4xl fw-b text-center">デジタルサービスのために設計されたシンプルで美しいUI</h2>
                    <p class="mt-3 text-center">
                        <a href="https://design.digital.go.jp">デジタル庁デザインシステム</a>を基に、拡張性と汎用性を向上させて再設計されたCSSフレームワークです。カスタマイズ性の高いSassで構築され、クラスを用いた直感的な状態管理によってJS環境でのスムーズな統合を実現。さらにバニラJSコンポーネントを搭載し、各種テンプレートエンジンでもインタラクティブなUIを実現できます。
                    </p>
                </div>
                <div class="container-sm mt-5 d-flex justify-center g-4">
                    <a href="" class="d-inline-block btn btn-secondary">GitHub</a>
                    <a href="" class="d-inline-block btn btn-primary">ドキュメントを見る</a>
                </div>
            </section>
            <section class="container-sm my-7 content">
                <h2>主な特徴</h2>
                <h3>デジタル庁デザインシステムに準拠</h3>
                <p>AsagaoUIは<a class="link" href="https://design.digital.go.jp">デジタル庁デザインシステム</a>の設計原則を継承しながら、より実践的な実装を提供します。スタイルガイドラインを踏襲しつつ、開発効率を高めるための最適化を行っています。
                </p>
                <ul class="mt-3">
                    <li>デジタル庁が定める色彩システムとタイポグラフィの完全サポート</li>
                    <li>レスポンシブデザインの統一的な実装</li>
                </ul>
                <h3>HTMLマークアップファースト</h3>
                <p>
                    HTML構造を重視したUIコンポーネントを提供します。JavaScriptに依存せず、HTMLネイティブ要素の機能を最大限に活用することで、堅牢で保守性の高い実装を実現します。</p>
                <h3>Sassによる強力なカスタマイズ機能</h3>
                <p>
                    Sassの機能を最大限に活用し、プロジェクトのニーズに合わせた柔軟なカスタマイズを可能にします。変数とミックスインを活用することで、効率的なスタイル定義とテーマのカスタマイズが可能です。</p>
                <ul>
                    <li>カスタム変数による容易なテーマ調整</li>
                    <li>ミックスインによる再利用可能なスタイル定義</li>
                    <li>モジュール式の構成による柔軟な拡張</li>
                </ul>
                <h3>強力なJSで拡張</h3>
                <p>
                    独自のJavaScriptを提供してJSフレームワークの有無に関わらず高度なUIを実現できます。各JSフレームワークと統合することも、バニラJSとして単独で使用することも可能です。</p>
                <ul>
                    <li>フレームワークに依存しない柔軟なコンポーネント設計</li>
                    <li>Web Componentsによる高い互換性と再利用性</li>
                </ul>
            </section>
            <section class="container-sm my-7">
                <code-snippet lang="HTML" preview>
                    <button class="btn btn-primary">ドキュメントを見る</button>
                </code-snippet>
            </section>
        </article>
    </main>
{{ end }}
