{{ define "main" }}
    <main class="mt-5">
        <article class="">
            <section class="container-sm">
                <h1 class="h1">AsagaoUI</h1>
                <p class="mt-1"><a class="link" href="https://design.digital.go.jp">デジタル庁デザインシステムに</a>基づくCSSフレームワーク</p>
                <h3 class="h3 mt-3">柔軟で軽量かつ美しいUI</h3>
            </section>
            <section class="content container-sm mt-7">
                <p>AsagaoUIは<a
                            href="https://design.digital.go.jp">デジタル庁デザインシステム</a>
                    に基づいて構築されたUIコンポーネントを持つ
                    CSSフレームワークであり、美しく効率的なウェブ開発を実現します。</p>
                <h2 id="主な特徴">主な特徴</h2>
                <h3 id="デジタル庁デザインシステムに準拠">デジタル庁デザインシステムに準拠</h3>
                <p>AsagaoUIは<a class="link" href="https://design.digital.go.jp">デジタル庁デザインシステムに</a>に基づいて設計されています。ただし<a class="link" href="https://design.digital.go.jp">デジタル庁デザインシステムに</a>に100%準拠しているわけではありません。
                    より効率的に実装するために改変しています。</p>
                <h3 id="htmlマークアップファースト">HTMLマークアップファースト</h3>
                <p>AsagaoUIはHTMLを最も重要視しています。HTMLネイティブ要素を使用した<code>アコーディオン</code>コンポーネントや、
                    <code>モーダルダイアログ</code>がその例です。これによりコンテンツが適切にマークアップされ、最小限の基本的なアクセシビリティを提供します。
                </p>
                <h3 id="クラス操作での状態管理">クラス操作での状態管理</h3>
                <p>AsagaoUIは要素の状態変化をクラスの追加と削除で管理します。
                    このアプローチにより、AsagaoUIをさまざまなフロントエンドフレームワークに最小限の手間で統合できます。</p>
                <h3 id="scssで構築">SCSSで構築</h3>
                <p>SCSSを使用することで、
                    AsagaoUIのスタイルを自由にカスタマイズできます。
                    AsagaoUIには<code>styles</code>フォルダがあり、デザインシステムの基本事項がすべて定義されています。
                </p>

            </section>
        </article>
    </main>
{{ end }}
