@use "sass:map";
@use "sass:meta";
@use "../styles/color";

$colors: (
        "white": color.$white,
        "black": color.$black,
        "grey": color.$grey,
        "blue": color.$blue,
        "lightblue": color.$lightblue,
        "cyan": color.$cyan,
        "green": color.$green,
        "lime": color.$lime,
        "yellow": color.$yellow,
        "orange": color.$orange,
        "red": color.$red,
        "magenta": color.$magenta,
        "purple": color.$purple,
);

@each $color-name, $color-values in $colors {
  @if meta.type-of($color-values) == "map" {
    @each $shade, $color in $color-values {
      .bg-#{$color-name}-#{$shade} {
        background-color: $color;
      }
      .text-#{$color-name}-#{$shade} {
        color: $color;
      }
    }
  } @else {
    .bg-#{$color-name} {
      background-color: $color-values;
    }
    .text-#{$color-name} {
      color: $color-values;
    }
  }
}
