@use "../styles/theme";
@use "../styles/rounding";

.link {
  color: theme.get(text, link, text);
  text-decoration: underline;

  &:hover {
    background-color: theme.get(text, link, hover-background);
  }

  &:active {
    color: theme.get(text, link, active);
  }

  &:focus {
    border-radius: map-get(rounding.$rounding, 's');
    outline: 2px solid theme.get(text, link, focus);
  }

  &:visited {
    color: theme.get(text, link, visited);
  }
}
