@use "../styles/typography";

$text-align: (right, left, center);

@each $align in $text-align {
  .text-#{$align} {
    text-align: $align;
  }
}

$font-weights: (
        n: typography.$fw-n,
        b: typography.$fw-b,
);

@each $key, $value in $font-weights {
  .fw-#{$key} {
    font-weight: $value;
  }
}
