@use "../styles/typography";

$text-align: (right, left, center);

@each $align in $text-align {
  .text-#{$align} {
    text-align: $align;
  }
}

$font-weights: (
        n: typography.$fw-n,
        b: typography.$fw-b,
);

@each $key, $value in $font-weights {
  .fw-#{$key} {
    font-weight: $value;
  }
}

.fs-64 {
  font-size: typography.$fs-64;
}

.fs-57 {
  font-size: typography.$fs-57;
}

.fs-48 {
  font-size: typography.$fs-48;
}

.fs-45 {
  font-size: typography.$fs-45;
}

.fs-36 {
  font-size: typography.$fs-36;
}

.fs-32 {
  font-size: typography.$fs-32;
}

.fs-28 {
  font-size: typography.$fs-28;
}

.fs-26 {
  font-size: typography.$fs-26;
}

.fs-24 {
  font-size: typography.$fs-24;
}

.fs-22 {
  font-size: typography.$fs-22;
}

.fs-20 {
  font-size: typography.$fs-20;
}

.fs-18 {
  font-size: typography.$fs-18;
}

.fs-17 {
  font-size: typography.$fs-17;
}

.fs-16 {
  font-size: typography.$fs-16;
}

.fs-14 {
  font-size: typography.$fs-14;
}
