@use "../styles/typography";
@use "../utilities/link" as *;
@use "../utilities/typography" as *;
@use "../components/table" as *;
@use "../components/description-list" as *;
@use "../utilities/list" as *;
@use "../utilities/code" as *;
@use "../styles/spacing";
@use "sass:map";

.content {
  a:not([class]):not(code-snippet *) {
    @extend .link;
  }

  ul:not([class]):not(code-snippet *),
  ol:not([class]):not(code-snippet *),
  p:not([class]):not(code-snippet *) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  table {
    @include table;
  }

  h1:not([class]):not(code-snippet *) {
    @extend .h1;
    margin-top: map.get(spacing.$spacers, 6);
    margin-bottom: map.get(spacing.$spacers, 4);
  }

  h2:not([class]):not(code-snippet *) {
    @extend .h2;
    margin-top: map.get(spacing.$spacers, 6);
    margin-bottom: map.get(spacing.$spacers, 4);
  }

  h3:not([class]):not(code-snippet *) {
    @extend .h3;
    margin-top: map.get(spacing.$spacers, 5);
    margin-bottom: map.get(spacing.$spacers, 4);
  }

  h4:not([class]):not(code-snippet *) {
    @extend .h4;
    margin-top: map.get(spacing.$spacers, 5);
    margin-bottom: map.get(spacing.$spacers, 3);
  }

  h5:not([class]):not(code-snippet *) {
    @extend .h5;
    margin-top: map.get(spacing.$spacers, 5);
    margin-bottom: map.get(spacing.$spacers, 3);
  }

  h6:not([class]):not(code-snippet *) {
    margin-top: map.get(spacing.$spacers, 4);
    margin-bottom: map.get(spacing.$spacers, 3);
  }

  pre {
    margin: 0;
    overflow: auto;
  }

  ul:not([class]):not(code-snippet *) {
    @extend .list-unordered
  }

  ol:not([class]):not(code-snippet *) {
    @extend .list-ordered
  }

  code:not([class]):not(code-snippet *) {
    @extend .code;
  }

  dl:not([class]):not(code-snippet *) {
    @extend .description-list;
  }

  dt:not([class]):not(code-snippet *) {
    @extend .description-term;
  }

  dd:not([class]):not(code-snippet *) {
    @extend .description-details;
  }
}
