@use "sass:map";
@use "sass:math";
@use "../utilities/breakpoint";
@use "../styles/spacing";

$grid-columns: 12;

.grid {
  display: grid;
  grid-template-columns: repeat($grid-columns, minmax(0, 1fr));
  width: 100%;
}

.col {
  grid-column: span 12;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    grid-column: span $i;
  }
}

@include breakpoint.breakpoint(sm) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      grid-column: span $i;
    }
  }
}

@include breakpoint.breakpoint(md) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      grid-column: span $i;
    }
  }
}

@include breakpoint.breakpoint(lg) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      grid-column: span $i;
    }
  }
}

@include breakpoint.breakpoint(xl) {
  @for $i from 1 through 12 {
    .col-xl-#{$i} {
      grid-column: span $i;
    }
  }
}

@include breakpoint.breakpoint(xxl) {
  @for $i from 1 through 12 {
    .col-xxl-#{$i} {
      grid-column: span $i;
    }
  }
}

@include breakpoint.breakpoint(xxxl) {
  @for $i from 1 through 12 {
    .col-xxxl-#{$i} {
      grid-column: span $i;
    }
  }
}

@include breakpoint.breakpoint(x4k) {
  @for $i from 1 through 12 {
    .col-x4k-#{$i} {
      grid-column: span $i;
    }
  }
}
