@use "sass:map";
@use "../styles/color";
@use "../styles/breakpoint";
@use "../styles/typography";
@use "../styles/spacing";

.accordion {
  border-bottom: 1px solid map.get(color.$grey, 420);

  &-header {
    @include typography.set(map.get(typography.$std, 'std-16n-170'));
    display: flex;
    gap: .8rem;
    align-items: center;

    padding: map.get(spacing.$spacers, 1) map.get(spacing.$spacers, 2) map.get(spacing.$spacers, 2) map.get(spacing.$spacers, 1);

    &:hover {
      background-color: map.get(color.$grey, 50);
    }

    &:focus {
      outline: 2px solid map.get(color.$yellow, 700);
      border-radius: 8px;
    }

    &:before {
      font-family: "asagaoui-icons" !important;
      speak: never;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      content: "\f139";
      display: flex;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: map.get(color.$blue, 1000);
      border: 1px solid map.get(color.$blue, 1000);
      width: 2rem;
      height: 2rem;
    }

    &:hover::before {
      border: 2px solid map.get(color.$blue, 1000);
    }
  }

  &-body {
    @include typography.set(map.get(typography.$std, 'std-16n-170'));
    padding: map.get(spacing.$spacers, 3) map.get(spacing.$spacers, 2) map.get(spacing.$spacers, 3) map.get(spacing.$spacers, 4);
  }

  &[open] {
    .accordion-header {
      &::before {
        content: "\f136";
      }
    }
  }
}

@include breakpoint.style(d) {
  .accordion {
    &-header {
      @include typography.set(map.get(typography.$std, 'std-18n-160'));
      padding: map.get(spacing.$spacers, 3) map.get(spacing.$spacers, 3) map.get(spacing.$spacers, 3) map.get(spacing.$spacers, 1);
    }

    &-body {
      padding: map.get(spacing.$spacers, 4) map.get(spacing.$spacers, 3) map.get(spacing.$spacers, 4) map.get(spacing.$spacers, 6);
    }
  }
}
