@use "sass:map";
@use "../styles/color";
@use "../styles/typography";

.accordion {
  border-bottom: 1px solid map.get(color.$grey, 420);

  &-header {
    @include typography.set(map.get(typography.$text, 'accordion'));
    padding: 1rem 1rem 1rem 0;
    background-repeat: no-repeat;
    background-position: right 1.5rem center;

    &:hover {
      background-color: map.get(color.$grey, 50);
    }

    &:focus {
      outline: 2px solid map.get(color.$yellow, 700);
      border-radius: 8px;
    }

    &:after {
      //content: "";
    }
  }

  &[open] {
    padding-bottom: 2.5rem;

    .accordion-header {
      margin-bottom: 24px;
    }
  }
}
