@use "../styles/typography";
@use "../styles/color";
@use "../styles/rounding";
@use "sass:map";

.badge {
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: baseline;
  align-content: center;
  box-sizing: border-box;
  min-height: calc(32 / 16 * 1rem);
  border-radius: calc(8 / 16 * 1rem);
  @include typography.set(map.get(typography.$oln, 'oln-16n-100'));
  overflow-wrap: anywhere;
  padding: calc(4 / 16 * 1rem) calc(8 / 16 * 1rem);
  color: color.$black;
}

.badge-outline {
  border: 1px solid color.$black;
  color: color.$black;
  background-color: color.$white;
}

.badge-filled-outline {
  border: 1px solid color.$black;
  background-color: map.get(color.$grey, 50);
  color: color.$black;
}

.badge-fill {
  color: color.$white;
  background-color: map.get(color.$grey, 700);
}

.badge-gray {
  &.badge {
    color: map.get(color.$grey, 700);
  }

  &.badge-outline {
    border: 1px solid map.get(color.$grey, 700);
    color: map.get(color.$grey, 700);
  }

  &.badge-filled-outline {
    border: 1px solid map.get(color.$grey, 700);
    background-color: map.get(color.$grey, 50);
    color: map.get(color.$grey, 800);
  }

  &.badge-fill {
    color: color.$white;
    background-color: map.get(color.$grey, 700);
  }
}

.badge-blue {
  &.badge {
    color: map.get(color.$blue, 700);
  }

  &.badge-outline {
    border: 1px solid map.get(color.$blue, 700);
    color: map.get(color.$blue, 700);
  }

  &.badge-filled-outline {
    border: 1px solid map.get(color.$blue, 700);
    background-color: map.get(color.$blue, 50);
    color: map.get(color.$blue, 800);
  }

  &.badge-fill {
    color: color.$white;
    background-color: map.get(color.$blue, 700);
  }
}

.badge-lightblue {
  &.badge {
    color: map.get(color.$lightblue, 800);
  }

  &.badge-outline {
    border: 1px solid map.get(color.$lightblue, 800);
    color: map.get(color.$lightblue, 800);
  }

  &.badge-filled-outline {
    border: 1px solid map.get(color.$lightblue, 800);
    background-color: map.get(color.$lightblue, 50);
    color: map.get(color.$lightblue, 900);
  }

  &.badge-fill {
    color: color.$white;
    background-color: map.get(color.$lightblue, 800);
  }
}

.badge-cyan {
  &.badge {
    color: map.get(color.$cyan, 900);
  }

  &.badge-outline {
    border: 1px solid map.get(color.$cyan, 900);
    color: map.get(color.$cyan, 900);
  }

  &.badge-filled-outline {
    border: 1px solid map.get(color.$cyan, 900);
    background-color: map.get(color.$cyan, 50);
    color: map.get(color.$cyan, 1000);
  }

  &.badge-fill {
    color: color.$white;
    background-color: map.get(color.$cyan, 900);
  }
}

.badge-green {
  &.badge {
    color: map.get(color.$green, 800);
  }

  &.badge-outline {
    border: 1px solid map.get(color.$green, 800);
    color: map.get(color.$green, 800);
  }

  &.badge-filled-outline {
    border: 1px solid map.get(color.$green, 800);
    background-color: map.get(color.$green, 50);
    color: map.get(color.$green, 900);
  }

  &.badge-fill {
    color: color.$white;
    background-color: map.get(color.$green, 800);
  }
}

.badge-lime {
  &.badge {
    color: map.get(color.$lime, 900);
  }

  &.badge-outline {
    border: 1px solid map.get(color.$lime, 900);
    color: map.get(color.$lime, 900);
  }

  &.badge-filled-outline {
    border: 1px solid map.get(color.$lime, 900);
    background-color: map.get(color.$lime, 50);
    color: map.get(color.$lime, 1000);
  }

  &.badge-fill {
    color: color.$white;
    background-color: map.get(color.$lime, 900);
  }
}

.badge-yellow {
  &.badge {
    color: map.get(color.$yellow, 1000);
  }

  &.badge-outline {
    border: 1px solid map.get(color.$yellow, 1000);
    color: map.get(color.$yellow, 1000);
  }

  &.badge-filled-outline {
    border: 1px solid map.get(color.$yellow, 1000);
    background-color: map.get(color.$yellow, 50);
    color: map.get(color.$yellow, 1100);
  }

  &.badge-fill {
    color: color.$white;
    background-color: map.get(color.$yellow, 1000);
  }
}

.badge-orange {
  &.badge {
    color: map.get(color.$orange, 900);
  }

  &.badge-outline {
    border: 1px solid map.get(color.$orange, 900);
    color: map.get(color.$orange, 900);
  }

  &.badge-filled-outline {
    border: 1px solid map.get(color.$orange, 900);
    background-color: map.get(color.$orange, 50);
    color: map.get(color.$orange, 1000);
  }

  &.badge-fill {
    color: color.$white;
    background-color: map.get(color.$orange, 900);
  }
}

.badge-red {
  &.badge {
    color: map.get(color.$red, 900);
  }

  &.badge-outline {
    border: 1px solid map.get(color.$red, 900);
    color: map.get(color.$red, 900);
  }

  &.badge-filled-outline {
    border: 1px solid map.get(color.$red, 900);
    background-color: map.get(color.$red, 50);
    color: map.get(color.$red, 1000);
  }

  &.badge-fill {
    color: color.$white;
    background-color: map.get(color.$red, 900);
  }
}

.badge-magenta {
  &.badge {
    color: map.get(color.$magenta, 800);
  }

  &.badge-outline {
    border: 1px solid map.get(color.$magenta, 800);
    color: map.get(color.$magenta, 800);
  }

  &.badge-filled-outline {
    border: 1px solid map.get(color.$magenta, 800);
    background-color: map.get(color.$magenta, 50);
    color: map.get(color.$magenta, 900);
  }

  &.badge-fill {
    color: color.$white;
    background-color: map.get(color.$magenta, 800);
  }
}

.badge-purple {
  &.badge {
    color: map.get(color.$purple, 800);
  }

  &.badge-outline {
    border: 1px solid map.get(color.$purple, 800);
    color: map.get(color.$purple, 800);
  }

  &.badge-filled-outline {
    border: 1px solid map.get(color.$purple, 800);
    background-color: map.get(color.$purple, 50);
    color: map.get(color.$purple, 800);
  }

  &.badge-fill {
    color: color.$white;
    background-color: map.get(color.$purple, 800);
  }
}
