@use "../styles/color";
@use "sass:map";
@use "../styles/typography";

// TODO Add mobile pattern

.banner {
  border-radius: 12px;
  padding: 24px;
  border: 3px solid color.$black;
  background-color: color.$white;

  &-info {
    border: 3px solid map.get(color.$blue, 900);

    .banner-title {
      &::before {
        // background-image: url("");
      }
    }
  }

  &-success {
    border: 3px solid map.get(color.$green, 600);

    .banner-title {
      &::before {
        // background-image: url("");
      }
    }
  }

  &-error {
    border: 3px solid map.get(color.$red, 800);

    .banner-title {
      &::before {
        width: 32px;
        height: 32px;
        // background-image: url("");
      }
    }
  }

  &-warning {
    border: 3px solid map.get(color.$yellow, 700);

    .banner-title {
      &::before {
        // background-image: url("");
      }
    }
  }
}

.banner-title {
  @include typography.set(map.get(typography.$text, 'banner'));
  margin: 0 0 16px 0;
  display: flex;
  align-items: center;
  gap: 24px;

  &::before {
    display: inline-block;
    content: "";
    width: 36px;
    height: 36px;
    // background-image: url("");
  }
}

.banner-text {
  margin: 0;
  padding-left: 56px;
}
