@use "../styles/color";
@use "../styles/typography";
@use "../styles/spacing";
@use "../styles/rounding";
@use "sass:map";

.banner {
  border: solid map.get(color.$grey, 536) 3px;
  padding: map.get(spacing.$spacers, 3) map.get(spacing.$spacers, 3) map.get(spacing.$spacers, 3) map.get(spacing.$spacers, 3);
  border-radius: map.get(rounding.$rounding, l);
  display: flex;
  flex-direction: column;
  gap: map.get(spacing.$spacers, 2);

  &-chip {
    border-radius: 0;
    border-top: solid map.get(color.$grey, 536) 2px;
    border-right: solid map.get(color.$grey, 536) 2px;
    border-bottom: solid map.get(color.$grey, 536) 2px;
    border-left: solid map.get(color.$grey, 536) 10px;
  }
}

.banner-title {
  display: block;
  @include typography.set(map.get(typography.$std, 'std-17b-170'));
}

.banner-description,
.banner-date {
  display: block;
  @include typography.set(map.get(typography.$std, 'std-16n-170'));
}

// TODO make banner
