@use "sass:map";
@use "../styles/color";
@use "../styles/rounding";
@use "../styles/typography";

.breadcrumb {
  display: flex;
  // FIXME Modify value to variable
  gap: 8px;
}

.breadcrumb-item {
  @include typography.set(map.get(typography.$text, text-m));
  color: map.get(color.$grey, 800);

  & + &::before {
    display: inline-block;
    margin-right: 8px;
    content: "";
    width: 12px;
    height: 13px;
    //background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMyIgZmlsbD0ibm9uZSI+PGcgY2xpcC1wYXRoPSJ1cmwoI2EpIj48cGF0aCBmaWxsPSIjMUExQTFBIiBkPSJtNC41MDA3OCAxLjgwMDA1LS43LjcgNCA0LTQgMy45OTk5NS43LjcgNC43LTQuNjk5OTUtNC43LTQuN1oiLz48L2c+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMCAuNWgxMnYxMkgweiIvPjwvY2xpcFBhdGg+PC9kZWZzPjwvc3ZnPg==");
  }

  .breadcrumb-link {
    color: map.get(color.$blue, 1000);
    text-decoration: underline;

    &:hover {
      color: map.get(color.$blue, 900);
      background-color: map.get(color.$grey, 50);
    }

    &:focus {
      border-radius: map.get(rounding.$rounding, 's');
      outline: 2px solid map.get(color.$yellow, 700);
    }

    &:active {
      color: map.get(color.$orange, 700);
    }

    &:visited {
      //color: map.get(color.$blue, 1000);
    }
  }
}
