@use "sass:map";
@use "../styles/color";
@use "../styles/rounding";
@use "../styles/typography";

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.breadcrumb-item {
  color: map.get(color.$grey, 800);

  & + &::before {
    font-family: "asagaoui-icons" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    margin-right: 8px;
    content: "\f137";
    width: 12px;
    height: 13px;
  }

  .breadcrumb-link {
    color: map.get(color.$blue, 1000);
    text-decoration: underline;

    &:hover {
      color: map.get(color.$blue, 900);
      background-color: map.get(color.$grey, 50);
    }

    &:focus {
      border-radius: map.get(rounding.$rounding, 's');
      outline: 2px solid map.get(color.$yellow, 700);
    }

    &:active {
      color: map.get(color.$orange, 700);
    }

    &:visited {
    }
  }
}
