@use "sass:map";
@use "../styles/color";
@use "../styles/rounding";
@use "../styles/typography";

.breadcrumb {
  display: flex;
  gap: 8px;
}

.breadcrumb-item {
  color: map.get(color.$grey, 800);

  & + &::before {
    display: inline-block;
    margin-right: 8px;
    content: "";
    width: 12px;
    height: 13px;
  }

  .breadcrumb-link {
    color: map.get(color.$blue, 1000);
    text-decoration: underline;

    &:hover {
      color: map.get(color.$blue, 900);
      background-color: map.get(color.$grey, 50);
    }

    &:focus {
      border-radius: map.get(rounding.$rounding, 's');
      outline: 2px solid map.get(color.$yellow, 700);
    }

    &:active {
      color: map.get(color.$orange, 700);
    }

    &:visited {
    }
  }
}
