@use "../styles/color";
@use "../styles/rounding";
@use "../styles/typography";

.card {
  border: 1px solid map-get(color.$grey, 420);
  border-radius: map-get(rounding.$rounding, m);
}

.card-body {
  padding: 1rem;
}

.card-title {
  margin: 0 0 .5rem 0;

  &:last-child {
    margin-bottom: 0;
  }

  @include typography.set(map-get(typography.$card, title));
}

.card-text {
  margin: 0 0 .5rem 0;

  &:last-child {
    margin-bottom: 0;
  }

  @include typography.set(map-get(typography.$card, text));
}

.card-header {
}

.card-footer {
}
