@use "sass:map";

.carousel {
  display: flex;
  gap: 1.5rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;

  &::scroll-button(*) {
    border: 0;
    font-size: 2rem;
    background: none;
    color: rgb(0 0 0 / 0.7);
    cursor: pointer;

    &:focus,
    &:hover {
      color: rgb(0 0 0 / 1);
    }

    &:active {
    }

    &:disabled {
      color: rgb(0 0 0 / 0.2);
      cursor: unset;
    }
  }

  &::scroll-button(left) {
    font-family: "asagaoui-icons" !important;
    content: "\f138";
  }

  &::scroll-button(right) {
    font-family: "asagaoui-icons" !important;
    content: "\f137";
  }

  &::scroll-marker-group {
    position: absolute;
    position-anchor: --myCarousel;
    top: calc(anchor(bottom) - 70px);
    justify-self: anchor-center;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

.carousel-item {
  scroll-snap-align: center;
  flex: 0 0 100%;

  &::scroll-marker {
    content: "";
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
  }

  &::scroll-marker:target-current {
    background-color: black;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;

    &:hover img {
      transform: scale(1.05);
    }
  }
}
