@use "../styles/color";
@use "sass:map";

.carousel {
  position: relative;
  display: grid;
  grid-template-areas: "item item item" "left markers right";
  grid-template-columns: 1fr 2fr 1fr;
  row-gap: 1rem;
}

.carousel-inner {
  grid-area: item;
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-marker-group: after;

  &::scroll-button(*) {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &::scroll-button(left) {
    content: "◀" / "前へ";
    grid-area: left;
    justify-self: end;
  }

  &::scroll-button(right) {
    content: "▶" / "次へ";
    grid-area: right;
  }

  &::scroll-marker-group {
    grid-area: markers;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
  }

}

.carousel-item {
  flex-shrink: 0;
  display: flex;
  width: 100%;
  height: auto;

  scroll-snap-align: center;

  &:not(:last-child) {
    margin-right: 2.5rem;
  }

  img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  &::scroll-marker {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: map.get(color.$grey, 200);
    border-radius: 50%;
    flex-shrink: 0;
  }

  &::scroll-marker:target-current {
    background-color: map.get(color.$blue, 600);
  }
}
