@use "sass:map";
@use "../styles/color";
@use "../styles/rounding";
@use "../styles/typography";

.card {
  border: 1px solid map.get(color.$grey, 420);
  border-radius: map.get(rounding.$rounding, m);
  position: relative;
}

.card-body {
  padding: 1rem;
}

.card-title {
  margin: 0 0 .5rem 0;

  &:last-child {
    margin-bottom: 0;
  }
  // FIXME typography
  //@include typography.set(map.get(typography.$card, title));
}

.card-text {
  margin: 0 0 .5rem 0;

  &:last-child {
    margin-bottom: 0;
  }
  // FIXME typography
  //@include typography.set(map.get(typography.$card, text));
}

.card-img-top,
.card-img-bottom {
  display: block;
  width: 100%;
}

.card-img-top {
  border-top-right-radius: map.get(rounding.$rounding, m);
  border-top-left-radius: map.get(rounding.$rounding, m);
}

.card-img-bottom {
  border-bottom-right-radius: map.get(rounding.$rounding, m);
  border-bottom-left-radius: map.get(rounding.$rounding, m);
}

.card-header {
}

.card-footer {
}

.card-link {
  position: static;
  &:before {
    content: "";
    cursor: inherit;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
}
