@use "../styles/typography";
@use "../styles/breakpoint";
@use "../styles/spacing";
@use "../styles/color";
@use "../styles/rounding";
@use "sass:map";

.codesnippet-preview {
  border-radius: map.get(rounding.$rounding, m) map.get(rounding.$rounding, m) 0 0;
  padding: map.get(spacing.$spacers, 4);
  border-top: 1px solid map.get(color.$grey, 200);
  border-right: 1px solid map.get(color.$grey, 200);
  border-left: 1px solid map.get(color.$grey, 200);
}

.codesnippet-area {
}

.codesnippet-header {
  //padding: map.get(spacing.$spacers, 3) map.get(spacing.$spacers, 4);
  //background-color: map.get(color.$blue, 100);
  padding: map.get(spacing.$spacers, 1) map.get(spacing.$spacers, 3);
  border-top: 1px solid map.get(color.$grey, 200);
  border-right: 1px solid map.get(color.$grey, 200);
  border-left: 1px solid map.get(color.$grey, 200);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.codesnippet-modal-close-btn,
.codesnippet-modal-btn,
.codesnippet-copy-btn {
  font-size: 1.25rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.codesnippet-lang {
  margin-right: auto;
}

.codesnippet-code {
  margin: 0;
  font-family: 'Noto Sans Mono', monospace;
  overflow: auto;

  padding: map.get(spacing.$spacers, 3) map.get(spacing.$spacers, 4);
  //background-color: map.get(color.$cyan, 50);
  border: 1px solid map.get(color.$grey, 200);
  border-radius: 0 0 map.get(rounding.$rounding, m) map.get(rounding.$rounding, m);
}

.codesnippet-modal {
  max-width: 992px;
  width: calc(100% - 2rem);
  border-radius: map.get(rounding.$rounding, m);
  padding: 0;
  border: none;
  top: 7dvh;
  margin: 0 auto;
  position: relative;

  &::backdrop {
    background-color: rgba(24, 49, 83, 0.5);
  }
}

.codesnippet-preview-flex {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 1rem;
}

.codesnippet-preview-false {
  display: none;
}

code[class*="language-"],
pre[class*="language-"] {
  background: none;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  background: #C5D7FB;
}

pre[class*="language-"] {
}

:not(pre) > code[class*="language-"] {
  padding: 0.2em 0.4em;
  border-radius: 4px;
  white-space: normal;
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #767676;
  font-style: italic;
}


.token.punctuation {
  color: rgb(57, 58, 52);
}


.token.namespace {
  color: #666666;
  opacity: 0.8;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: rgb(128, 0, 0);
}


.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #e00;
}


.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #FB5B01;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: rgb(0, 0, 255);
}

.token.function,
.token.class-name {
  color: #8843E1;
}

.token.regex,
.token.important,
.token.variable {
  color: #D2A400;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.line-numbers .line-numbers-rows {
  border-right: 1px solid #cccccc;
}

.line-numbers-rows > span:before {
  color: #b3b3b3;
}

.line-highlight {
  background: linear-gradient(to right, #E8F1FE 70%, transparent);
}
