@use "../styles/color";

// TODO reform
.dropdown {
  height: 100%;

  &-area {
    position: relative;
  }

  &-menu {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    position: absolute;
    z-index: 100; //FIXME reset z-index
    background-color: color.$white;
    border: 1px solid #949494;
    //box-shadow: 0 4px 16px 0 rgba(26, 26, 28, 0.20);
    //
    padding: 16px 8px 24px 8px;
  }

  &-item {
  }

  &-link {
    padding: 8px 20px;
  }
}
