@use "../styles/color";
@use "../styles/typography";
@use "sass:map";

.globalmenu-sub {
  display: flex;
}

.globalmenu {
  display: flex;
  height: 100%;

  &-item {
    flex: 1 0 auto;
  }

  &-link {
    @include typography.set(map.get(typography.$dns, 'dns-16b-130'));
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    cursor: pointer;

    &:hover {
      background-color: map.get(color.$grey, 50),
    }

    &:hover::after {
      visibility: visible;
    }

    &::after {
      position: absolute;
      left: 0;
      bottom: -1px;
      content: '';
      width: 100%;
      height: 2px;
      background-color: map.get(color.$grey, 900);
      visibility: hidden;
    }

    &.active {
      color: map.get(color.$blue, 900);

      &::after {
        visibility: visible;
        background-color: map.get(color.$blue, 900);
        height: 4px;
      }
    }

    &:focus {
      border-radius: 2px;
      background-color: map.get(color.$yellow, 300);
      box-shadow: 0 0 0 2px map.get(color.$yellow, 300), 0 0 0 6px color.$black;
    }
  }
}

.globalmenu-dropdown {
  position: relative;
  height: 100%;
}

.globalmenu-dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: max-content;
  z-index: 100; //FIXME reset z-index
  background-color: color.$white;
  border: 1px solid #949494;
  box-shadow: 0 4px 16px 0 rgba(26, 26, 28, 0.20);
  //
  padding: 16px 8px 24px 8px;
}

.globalmenu-dropdown-link {
  display: block;
  padding: 8px 20px;

  &:hover {
    background-color: map.get(color.$grey, 50);
  }
}