@use "sass:map";
@use "../styles/color";
@use "../styles/typography";
@use "../styles/rounding";

.hamburger-btn {
  min-height: 36px;
  padding: 0 12px;
  display: flex;
  gap: 7px;
  align-items: center;
  cursor: pointer;
  border-radius: map.get(rounding.$rounding, s);
  // font-set
  @include typography.set(map.get(typography.$dns, 'dns-16n-120'));

  &:hover {
    text-decoration: underline;
    background-color: map.get(color.$grey, 50);
  }

  &:focus,
  &:active {
    background-color: map.get(color.$yellow, 300);
    box-shadow: 0 0 0 2px map.get(color.$yellow, 300), 0 0 0 6px color.$black;
  }
}

.hamburger-iconbtn {
  min-width: 44px;
  min-height: 44px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: map.get(rounding.$rounding, s);
  // font-set
  font-weight: 700;
  font-size: .52rem;
  line-height: 1;
  letter-spacing: 0;

  &:hover {
    box-shadow: inset 0 0 0 1px color.$black;
    background-color: map.get(color.$grey, 50);
  }

  &:focus,
  &:active {
    background-color: map.get(color.$yellow, 300);
    box-shadow: 0 0 0 2px map.get(color.$yellow, 300), 0 0 0 6px color.$black;
  }
}

.hamburger-icon {
  width: 24px;
  height: 18px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: color.$black;
    box-shadow: 0 8px 0 color.$black, 0 16px 0 color.$black;
  }

  &.close {
    &::before {
      box-shadow: none;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: color.$black;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}
