@use "../styles/theme";
@use "../styles/typography";
@use "../styles/breakpoint";
@use "../utilities/breakpoint" as ub;
@use "sass:map";

.header {
  border-bottom: 1px solid theme.get(border, divider);
}

.header-full {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;

  .header-drawer {
    @include breakpoint.style(ad) {
      display: none;
    }
  }

  .header-logo {
    order: 1;
    height: 68px;
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    @include breakpoint.style(d) {
      height: 80px;
    }
    @include breakpoint.style(ad) {
      margin-left: 2.5rem;
    }
  }

  .header-item {
    display: none;
    @include breakpoint.style(d) {
      display: flex;
      order: 2;
      align-items: center;
      height: 80px;
      padding-right: 0;
      margin-right: 1rem;
    }
    @include breakpoint.style(ad) {
      margin-right: 2.5rem;
    }
  }

  .header-menu {
    order: 4;
    display: none;
    width: 100%;
    height: 55px;
    @include breakpoint.style(d) {
      display: flex;
    }
    @include breakpoint.style(ad) {
      padding-inline: 2.5rem;
    }
    align-items: center;
    padding-inline: 1rem;
  }

  .header-button {
    order: 3;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    @include breakpoint.style(d) {
      display: none;
    }
  }
}

.header-slim {
  height: 68px;
  @include breakpoint.style(d) {
    height: 79px;
  }
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding-right: 1rem;
  padding-left: 1rem;
  @include breakpoint.style(ad) {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  .header-logo {
    height: 100%;
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  .header-button {
    order: 4;
    display: flex;
    align-items: center;
  }

  .header-menu {
    order: 3;
    display: none;
    height: 100%;
    align-items: center;
    @include breakpoint.style(d) {
      display: flex;
    }
    @include breakpoint.style(ad) {
    }
  }
}
