@use "../styles/typography";
@use "../styles/breakpoint";
@use "../styles/color";
@use "../utilities/breakpoint" as ub;
@use "sass:map";

.header {
  border-bottom: 1px solid map.get(color.$grey, 420);
}

.header-full {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 1rem;

  .header-drawer {
    @include breakpoint.style(ad) {
      display: none;
    }
  }

  .header-logo {
    order: 1;
    height: 68px;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 1rem;
    @include breakpoint.style(d) {
      height: 80px;
    }
    @include breakpoint.style(ad) {
    }
  }

  .header-items {
    display: none;
    @include breakpoint.style(d) {
      display: flex;
      order: 2;
      align-items: center;
      height: 80px;
      padding-right: 0;
    }
    @include ub.breakpoint(sm) {
      padding-right: 1rem;
    }
    @include ub.breakpoint(sm) {
      padding-right: 0;
    }
  }

  .header-menu {
    order: 4;
    display: none;
    width: 100%;
    height: 55px;
    align-items: center;
    @include breakpoint.style(d) {
      display: flex;
    }
    @include breakpoint.style(ad) {
    }
  }

  .header-button {
    order: 3;
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
}
