@use "../styles/typography";
@use "../styles/color";
@use "../styles/spacing";
@use "../styles/rounding";
@use "sass:map";

.menulist {
  &-title {
    display: block;
    padding: .776rem 1rem;
    @include typography.set(map.get(typography.$dns, 'dns-16b-120'));
  }

  &-item {
    .menulist-item {
      margin-left: 1rem;
    }
  }

  &-link {
    display: block;
    padding: .776rem 1rem;
    @include typography.set(map.get(typography.$dns, 'dns-16n-120'));
    border-radius: map.get(rounding.$rounding, m);

    &:hover {
      background-color: map.get(color.$grey, 50);
      text-decoration: underline;
    }

    &:focus {
      background-color: map.get(color.$yellow, 300);
      box-shadow: 0 0 0 2px map.get(color.$yellow, 300), 0 0 0 6px color.$black;
    }

    &.active {
      @include typography.set(map.get(typography.$dns, 'dns-16b-120'));
      background-color: map.get(color.$blue, 100);
      color: map.get(color.$blue, 1000);

      &:hover {
        background-color: map.get(color.$blue, 50);
        color: map.get(color.$blue, 900);
      }
    }
  }
}
