@use "../styles/typography";
@use "../styles/color";
@use "../styles/spacing";
@use "../styles/rounding";
@use "sass:map";

.menulist {
  &-title {
    display: block;
    padding: .525rem 1rem;
    @include typography.set(map.get(typography.$dns, 'dns-16b-120'));
  }

  &-item {
  }

  &-link {
    display: block;
    padding: .525rem 1rem;
    @include typography.set(map.get(typography.$dns, 'dns-16n-130'));
    border-radius: map.get(rounding.$rounding, m);

    &:hover {
      background-color: map.get(color.$grey, 50);
      text-decoration: underline;
    }

    &.active {
      @include typography.set(map.get(typography.$dns, 'dns-16b-130'));
      background-color: map.get(color.$blue, 100);
      color: map.get(color.$blue, 1000);

      &:hover {
        text-decoration: none;
      }
    }
  }
}
