@use "sass:map";
@use "../styles/color";
@use "../styles/typography";

.modaldialog {
  outline: none;
  &::backdrop {
    // #999999 75%
    background-color: rgba(153, 153, 153, 0.75);
  }
  // center
  position: fixed;
  inset: 0;
  margin: auto;
  // display
  // size
  width: 496px;
  height: 350px;
  // style
  padding: 40px 56px;
  border-radius: 12px;
  border: 1px solid map.get(color.$grey, 200);
  background-color: color.$white;
  z-index: 1000;

  &-title {
    margin: 0;
    // FIXME typography
    //@include typography.set(map.get(typography.$heading, 'sm'));
  }

  &-subtext {
  }
}
