@use "../styles/color";
@use "sass:map";

.spinner {
  background-color: white;
  width: 48px;
  aspect-ratio: 1;
  border: 4px solid map.get(color.$blue,500);
  border-right-color: map.get(color.$blue,1000);
  border-bottom-color: map.get(color.$blue,1000);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.progress {
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  background-color: map.get(color.$blue,500)!important;
  border-radius: 4px;
  overflow: hidden;
}

.progress::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: map.get(color.$blue,1000);
  border-radius: 4px;
  transform: translateX(-100%);
  animation: move 1s linear infinite;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(200%); }
}
