@use "../styles/color";
@use "sass:map";

@property --au-spinner-variable {
  syntax: '<angle>';
  inherits: false;
  initial-value: 130deg;
}

.spinner {
  position: relative;
  background-color: map.get(color.$blue, 100);
  width: 48px;
  aspect-ratio: 1;
  border: 1px solid map.get(color.$blue, 1200);
  border-radius: 50%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: block;
    border-radius: 50%;
    aspect-ratio: 1;
  }

  &::after {
    background-color: color.$white;
    width: 40px;
  }

  &::before {
    width: 48px;
    background: conic-gradient(
            map.get(color.$blue, 1200) 0deg var(--au-spinner-variable),
            transparent var(--au-spinner-variable) 360deg
    );
    animation: spin-inner 1s linear infinite;
  }
}

@keyframes spin-inner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sweep {
  0% {
    --au-spinner-variable: 30deg;
  }
  50% {
    --au-spinner-variable: 330deg;
  }
  100% {
    --au-spinner-variable: 30deg;
  }
}

.progress {
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  background-color: map.get(color.$blue, 100);
  border-bottom: solid 1px map.get(color.$blue, 1200);
  overflow: hidden;
}

.progress::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: map.get(color.$blue, 1200);
  transform: translateX(-100%);
  animation: move 1s linear infinite;
}

@keyframes move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}
