@use "../styles/color";

.scrolltopbtn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid map-get(color.$blue, 900);
  background-color: color.$white;

  &:hover {
    border: 1px solid map-get(color.$blue, 1000);
    background-color: map-get(color.$blue, 200);
  }

  &:active {
    border: 1px solid map-get(color.$blue, 1200);
    background-color: map-get(color.$blue, 300);
  }

  &:focus {
    outline: 2px solid map-get(color.$yellow, 700);
    outline-offset: 2px;
  }

  &::after {
    display: block;
    margin: 0 auto;
    content: "";
    width: 25px;
    height: 24px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+CiAgPG1hc2sgaWQ9ImEiIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNCIgeD0iMCIgeT0iMCIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgc3R5bGU9Im1hc2stdHlwZTphbHBoYSI+CiAgICA8cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNLjUgMGgyNHYyNEguNXoiLz4KICA8L21hc2s+CiAgPGcgbWFzaz0idXJsKCNhKSI+CiAgICA8cGF0aCBmaWxsPSIjMDAxN0MxIiBkPSJNMTEuNzUgMTkuNVY3LjM3MzAzTDYuMDUzODMgMTMuMDY5MiA1IDEybDcuNS03LjVMMjAgMTJsLTEuMDUzOSAxLjA2OTItNS42OTYyLTUuNjk2MTdWMTkuNUgxMS43NVoiLz4KICA8L2c+Cjwvc3ZnPgo=");
  }
}
