@use "../utilities/breakpoint";
@use "../styles/color";
@use "../styles/typography";
@use "sass:map";


.stat {
  border-radius: 16px;
  border: 1px solid map.get(color.$grey, 500);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 24px;
}

.stat-label {
  text-decoration: underline;
  @include typography.set(map.get(typography.$dns, 'dns-16n-130'));
}

.stat-unit {
  margin-left: 10px;
  @include typography.set(map.get(typography.$std, 'std-32n-150'));
}

.stat-help {
}

.stat-value {
  @include typography.set(map.get(typography.$std, 'std-45b-140'));
}

.stat-indicator {
}
