@use "../styles/typography";
@use "../styles/color";
@use "sass:map";

.utilitylink {
  cursor: pointer;
  display: block;
  width: fit-content;
  text-wrap: pretty;
  @include typography.set(map.get(typography.$dns, 'dns-16n-130'));
  text-decoration: underline;

  &:focus {
    border-radius: calc(4 / 16 * 1rem);
    background-color: map.get(color.$yellow, 300);
    box-shadow: 0 0 0 2px map.get(color.$yellow, 300), 0 0 0 6px color.$black;
  }

  &:hover {
    color: map.get(color.$grey, 800);
    text-decoration-thickness: .1875rem;
  }

  &[target="_blank"]::after,
  &[rel="external"]::after {
    display: inline-block;
    background-color: map.get(color.$grey, 900);
    width: 1em;
    height: 1em;
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4.5 19.5H19.5V13H21V21H3V3H11V4.5H4.5V19.5ZM14 4.5V3H21V10H19.5V5.6L10.5 14.5L9.5 13.5L18.4 4.5H14Z"/></svg>');
    content: "";
    vertical-align: middle;
    margin-left: 4px;
  }
}

.utilitylink-item {
}

.utilitylink-units {
  display: flex;
  gap: 1rem;
}
