@use "../styles/typography";
@use "../styles/color";
@use "sass:map";

.body,
.aui {
  font-family: "Noto Sans JP", sans-serif;
  color: map.get(color.$grey, 900);
  @include typography.set(map.get(typography.$std, 'std-16n-170'));
}

html:has(:modal) {
  overflow: clip;
  scrollbar-gutter: auto;
}

body:has(:modal) {
  overflow: auto;
  scrollbar-gutter: stable;
}
