.form-check {
  display: flex;
  align-items: center;

  .form-check-input {
    order: 1;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSI+PG1hc2sgaWQ9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNSIgeD0iMCIgeT0iMCIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgc3R5bGU9Im1hc2stdHlwZTphbHBoYSI+PHBhdGggZmlsbD0iI0Q5RDlEOSIgZD0iTTAgLjVoMjR2MjRIMHoiLz48L21hc2s+PGcgbWFzaz0idXJsKCNhKSI+PHBhdGggZmlsbD0iIzFBMUExQSIgZD0iTTUuMyAyMWMtLjUgMC0uOTI1LS4xNzUtMS4yNzUtLjUyNS0uMzUtLjM1LS41MjUtLjc3NS0uNTI1LTEuMjc1VjUuOGMwLS41LjE3NS0uOTI1LjUyNS0xLjI3NUM0LjM3NSA0LjE3NSA0LjggNCA1LjMgNGgxMy40Yy41IDAgLjkyNS4xNzUgMS4yNzUuNTI1LjM1LjM1LjUyNS43NzUuNTI1IDEuMjc1djEzLjRjMCAuNS0uMTc1LjkyNS0uNTI1IDEuMjc1LS4zNS4zNS0uNzc1LjUyNS0xLjI3NS41MjVINS4zWm0wLTEuNWgxMy40Yy4wNjY3IDAgLjEzMzMtLjAzMzMuMi0uMS4wNjY3LS4wNjY3LjEtLjEzMzMuMS0uMlY1LjhjMC0uMDY2NjctLjAzMzMtLjEzMzMzLS4xLS4yLS4wNjY3LS4wNjY2Ny0uMTMzMy0uMS0uMi0uMUg1LjNjLS4wNjY2NyAwLS4xMzMzMy4wMzMzMy0uMi4xLS4wNjY2Ny4wNjY2Ny0uMS4xMzMzMy0uMS4ydjEzLjRjMCAuMDY2Ny4wMzMzMy4xMzMzLjEuMi4wNjY2Ny4wNjY3LjEzMzMzLjEuMi4xWiIvPjwvZz48L3N2Zz4=");

    &:checked {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSI+PG1hc2sgaWQ9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNSIgeD0iMCIgeT0iMCIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgc3R5bGU9Im1hc2stdHlwZTphbHBoYSI+PHBhdGggZmlsbD0iI0Q5RDlEOSIgZD0iTTAgLjVoMjR2MjRIMHoiLz48L21hc2s+PGcgbWFzaz0idXJsKCNhKSI+PHBhdGggZmlsbD0iIzAwMTdDMSIgZD0ibTEwLjYgMTYuMzUgNi43MjUtNi43MjUtMS4wNS0xLjA1TDEwLjYgMTQuMjUgNy43NSAxMS40IDYuNyAxMi40NWwzLjkgMy45Wk01LjMgMjFjLS41IDAtLjkyNS0uMTc1LTEuMjc1LS41MjUtLjM1LS4zNS0uNTI1LS43NzUtLjUyNS0xLjI3NVY1LjhjMC0uNS4xNzUtLjkyNS41MjUtMS4yNzVDNC4zNzUgNC4xNzUgNC44IDQgNS4zIDRoMTMuNGMuNSAwIC45MjUuMTc1IDEuMjc1LjUyNS4zNS4zNS41MjUuNzc1LjUyNSAxLjI3NXYxMy40YzAgLjUtLjE3NS45MjUtLjUyNSAxLjI3NS0uMzUuMzUtLjc3NS41MjUtMS4yNzUuNTI1SDUuM1oiLz48L2c+PC9zdmc+");
    }
  }

  .form-check-label {
    order: 2;
    padding-left: 1rem;
    display: inline-block;
  }
}
