@use "../styles/typography";
@use "../styles/color";
@use "../styles/rounding";
@use "sass:map";

.checkbox {
  display: flex;
  align-items: center;
  cursor: default;
  gap: .5rem;
  width: fit-content;
  color: map.get(color.$grey, 800);
  @include typography.set(map.get(typography.$dns, 'dns-16n-130'));
  padding: 8px 0;

  &-sm {
    .checkbox-input {
      width: 18px;
      height: 18px;
      &:before {
        transform: scale(1);
      }
    }
  }

  &-md {
    .checkbox-input {
      width: 24px;
      height: 24px;
      &:before {
        transform: scale(calc(20 / 14));
      }
    }
  }

  &-lg {
    .checkbox-input {
      width: 33px;
      height: 33px;

      &:before {
        transform: scale(calc(27 / 14));
      }
    }
  }
}

.checkbox-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  border-radius: 12.5%;

  position: relative;

  background-color: color.$white;
  border: .125rem solid map.get(color.$grey, 600);

  &:hover {
    border: .125rem solid color.$black;
    outline: .125rem solid map.get(color.$grey, 600);
  }

  &:checked {
    background-color: map.get(color.$blue, 900);
    border: .125rem solid map.get(color.$blue, 900);

    &:focus {
      border: .125rem solid map.get(color.$blue, 900);
    }
  }

  &:before {
    display: none;
    width: .875rem;
    height: .875rem;
    background-color: color.$white;
    transform: scale(1);
    content: "";
  }

  &:checked::before {
    display: block;
    clip-path: path("M5.6,11.2L12.65,4.15L11.25,2.75L5.6,8.4L2.75,5.55L1.35,6.95L5.6,11.2Z");
  }

  &:focus {
    box-shadow: 0 0 0 2px map.get(color.$yellow, 300), 0 0 0 6px color.$black;
    outline: none;
    border: .125rem solid color.$black;
  }
}
