@use "../styles/color";
@use "../styles/typography";


// text
.form-input {
  height: 56px;
  padding: 0 16px;
  border-radius: 8px;
  border: 1px solid map-get(color.$grey, 900);
  background-color: color.$white;

  &:focus {
    outline: 3px solid map-get(color.$yellow, 700);
    border: 1px solid map-get(color.$yellow, 700);
  }

  &:disabled {
    border: 1px solid map-get(color.$grey, 420);
    background-color: map-get(color.$grey, 50);
  }

  &.error {
    border: 1px solid map-get(color.$red, 800);

    &:focus {
      outline: 3px solid map-get(color.$yellow, 700);
      border: 1px solid map-get(color.$yellow, 700);
    }
  }
}

.form-help {
  color: map-get(color.$grey, 600);
  @include typography.set(map-get(typography.$text, 'text-m'));
}

.form-error-feedback {
  display: none;
  color: map-get(color.$red, 800);
  @include typography.set(map-get(typography.$text, 'text-m'));
}

.form-input.error ~ .form-error-feedback {
  display: block;
}
