@use "../styles/color";
@use "../styles/typography";

.form-select {
  height: 56px;
  padding: 0 16px;
  border-radius: 8px;
  border: 1px solid map-get(color.$grey, 900);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0ibm9uZSI+PGcgY2xpcC1wYXRoPSJ1cmwoI2EpIj48cGF0aCBmaWxsPSIjMUExQTFBIiBkPSJNMTMuMzM0NCA0LjQwMDA5IDguMDAxMDQgOS43MzM0MiAyLjY2NzcxIDQuNDAwMDlsLS45MzMzMy45MzMzMyA2LjI2NjY2IDYuMjY2NjggNi4yNjY2Ni02LjI2NjY4LS45MzMzLS45MzMzM1oiLz48L2c+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMCAwaDE2djE2SDB6Ii8+PC9jbGlwUGF0aD48L2RlZnM+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: right 1rem center;

  &:focus {
    outline: 3px solid map-get(color.$yellow, 700);
    border: 1px solid map-get(color.$yellow, 700);
  }

  &:disabled {
    border: 1px solid map-get(color.$grey, 420);
    background-color: map-get(color.$grey, 50);
    color: map-get(color.$grey, 420);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0ibm9uZSI+PGcgY2xpcC1wYXRoPSJ1cmwoI2EpIj48cGF0aCBmaWxsPSIjOTQ5NDk0IiBkPSJNMTMuMzM0NCA0LjQwMDA5IDguMDAxMDQgOS43MzM0MiAyLjY2NzcxIDQuNDAwMDlsLS45MzMzMy45MzMzMyA2LjI2NjY2IDYuMjY2NjggNi4yNjY2Ni02LjI2NjY4LS45MzMzLS45MzMzM1oiLz48L2c+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMCAwaDE2djE2SDB6Ii8+PC9jbGlwUGF0aD48L2RlZnM+PC9zdmc+");
  }

  &.error {
    border: 1px solid map-get(color.$red, 800);

    &:focus {
      outline: 3px solid map-get(color.$yellow, 700);
      border: 1px solid map-get(color.$yellow, 700);
    }
  }
}

.form-select.error ~ .form-error-feedback {
  display: block;
}
