
$white: #ffffff;
$black: #000000;

$grey: (
        900: #1a1a1a,
        800: #333333,
        700: #4d4d4d,
        600: #666666,
        536: #767676,
        500: #7f7f7f,
        420: #949494,
        400: #999999,
        300: #b3b3b3,
        200: #cccccc,
        100: #e6e6e6,
        50: #f2f2f2,
);

$blue: (
        1200: #000060,
        1100: #000071,
        1000: #00118F,
        900: #0017C1,
        800: #0031D8,
        700: #264AF4,
        600: #3460FB,
        500: #4979F5,
        400: #7096F8,
        300: #9DB7F9,
        200: #C5D7FB,
        100: #D9E6FF,
        50: #E8F1FE,
);

$lightblue: (
        1200: #00234B,
        1100: #00316A,
        1000: #00428C,
        900: #0055AD,
        800: #0066BE,
        700: #0877D7,
        600: #008BF2,
        500: #39ABFF,
        400: #57B8FF,
        300: #97D3FF,
        200: #C0E4FF,
        100: #DCF0FF,
        50: #F0F9FF,
);

$cyan: (
        1200: #003741,
        1100: #004C59,
        1000: #006173,
        900: #006F83,
        800: #008299,
        700: #008DA6,
        600: #00A3BF,
        500: #01B7D6,
        400: #2BC8E4,
        300: #79E2F2,
        200: #99F2FF,
        100: #C8F8FF,
        50: #E6FCFF,
);

$green: (
        1200: #032213,
        1100: #08351F,
        1000: #0C472A,
        900: #115A36,
        800: #197A4B,
        700: #1D8B56,
        600: #259D63,
        500: #2CAC6E,
        400: #51B883,
        300: #71C598,
        200: #9BD4B5,
        100: #C2E5D1,
        50: #E6F5EC,
);

$lime: (
        1200: #1E2D00,
        1100: #2C4100,
        1000: #3E5A00,
        900: #507500,
        800: #507500,
        700: #6FA104,
        600: #7EB40D,
        500: #8CC80C,
        400: #9DDD15,
        300: #ADE830,
        200: #C0F354,
        100: #D0F5A2,
        50: #EBFAD9,
);

$yellow: (
        1200: #604B00,
        1100: #6E5600,
        1000: #806300,
        900: #927200,
        800: #A58000,
        700: #B78F00,
        600: #D2A400,
        500: #EBB700,
        400: #FFC700,
        300: #FFD43D,
        200: #FFE380,
        100: #FFF0B3,
        50: #FBF5E0,
);

$orange: (
        1200: #541E00,
        1100: #6D2700,
        1000: #8B3200,
        900: #AC3E00,
        800: #C74700,
        700: #E25100,
        600: #FB5B01,
        500: #FF7628,
        400: #FF8D44,
        300: #FFA66D,
        200: #FFC199,
        100: #FFDFCA,
        50: #FFEEE2,
);

$red: (
        1200: #620000,
        1100: #850000,
        1000: #A90000,
        900: #CE0000,
        800: #EC0000,
        700: #FA0000,
        600: #FE3939,
        500: #FF5454,
        400: #FF7171,
        300: #FF9696,
        200: #FFBBBB,
        100: #FFDADA,
        50: #FDEEEE,
);

$magenta: (
        1200: #3B003B,
        1100: #500050,
        1000: #6C006C,
        900: #8B008B,
        800: #AA00AA,
        700: #C000C0,
        600: #DB00DB,
        500: #F137F1,
        400: #F661F6,
        300: #FF8EFF,
        200: #FFAEFF,
        100: #FFD0FF,
        50: #F3E5F4,
);

$purple: (
        1200: #21004B,
        1100: #30016C,
        1000: #41048E,
        900: #5109AD,
        800: #5C10BE,
        700: #6F23D0,
        600: #8843E1,
        500: #A565F8,
        400: #BB87FF,
        300: #CDA6FF,
        200: #DDC2FF,
        100: #ECDDFF,
        50: #F1EAFA,
);
