@use "color";
@use "sass:map";

$blue-light-theme: (
        text: (
                body: map-get(color.$grey, 900),
                description: map-get(color.$grey, 700),
                place-holder: map-get(color.$grey, 600),
                on-fill: color.$white,
                link:(
                        text: map-get(color.$blue, 1000),
                        hover-background: map-get(color.$grey, 50),
                        active: map-get(color.$orange, 700),
                        visited: map-get(color.$magenta, 900),
                        focus: map-get(color.$yellow, 700),
                ),
                hover: map-get(color.$blue, 1000),
                active: map-get(color.$blue, 1000),
                visited: map-get(color.$magenta, 900),
                alert: map-get(color.$red, 800),
                disabled: map-get(color.$grey, 500),
                focused: map-get(color.$yellow, 700),
        ),
        button: (
                base:(
                        border: map-get(color.$grey, 900),
                        focused: map-get(color.$yellow, 700),
                ),
                primary:(
                        background: map-get(color.$blue, 900),
                        color : color.$white,
                        hover-background: map-get(color.$blue, 1100),
                        active-background: map-get(color.$blue, 1200),
                        disabled-background: map-get(color.$grey, 420),
                        focused: map-get(color.$yellow, 700),
                ),
                secondary:(
                        background: color.$white,
                        border: map-get(color.$blue, 900),
                        color: map-get(color.$blue, 900),
                        hover-background: map-get(color.$blue, 200),
                        hover-border: map-get(color.$blue, 1100),
                        hover-color: map-get(color.$blue, 1100),
                        active-background: map-get(color.$blue, 300),
                        active-border: map-get(color.$blue, 1200),
                        active-color: map-get(color.$blue, 1200),
                        disabled-background: color.$white,
                        disabled-border: map-get(color.$grey, 420),
                        disabled-color: map-get(color.$grey, 420),
                        focused: map-get(color.$yellow, 700),
                ),
                tertiary:(
                        color: map-get(color.$blue, 900),
                        hover-background: map-get(color.$blue, 200),
                        hover-color: map-get(color.$blue, 1100),
                        active-background: map-get(color.$blue, 300),
                        active-color: map-get(color.$blue, 1200),
                        disabled-color: map-get(color.$grey, 420),
                        focused: map-get(color.$yellow, 700),
                ),
        ),
        border: (
                field: map-get(color.$grey, 900),
                divider: map-get(color.$grey, 420),
                focused: map-get(color.$yellow, 700),
                selected: map-get(color.$blue, 900),
                alert: map-get(color.$red, 800),
                disabled: map-get(color.$grey, 420),
        ),
);

$active-theme: $blue-light-theme;

@function get($keys...) {
  $value: $active-theme;
  @each $key in $keys {
    $value: map.get($value, $key);
    @if $value == null {
      @warn "Key #{$key} not found.";
      @return null;
    }
  }
  @return $value;
}
