<footer class="my-6">
    <div class="container-lg text-right vstack g-2">
        <p><a href="{{ .Site.Home.RelPermalink }}" class="link">{{ site.Title }}</a> is licensed <a class="link"
                                                                                                    href="https://opensource.org/license/mit">MIT</a>.
        </p>
        <p>Website content is licensed <a class="link"
                                          href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1">CC BY
                4.0</a>.</p>
        <p>&copy; {{ now.Year }} {{ site.Title }}.</p>
    </div>
</footer>
<script type="module" async src="https://unpkg.com/invokers-polyfill@latest/invoker.min.js"></script>