<header class="header">
    <nav class="header-full">
        <a class="header-logo" href="{{ .Site.Home.RelPermalink }}">
            {{ $logo := resources.Get "img/AsagaoUILogo.svg" }}
            <img src="{{ $logo.RelPermalink }}" alt="{{ .Site.Title }}" width="150" height="60">
        </a>
        <div class="header-button">
            <button class="hamburger-iconbtn" type="button" command="show-modal" commandfor="header-dialog-menu">
                <i class="hamburger-icon"></i>
                メニュー
            </button>
        </div>
        <div class="header-items">
            <ul class="utilitylink-units">
                <li class="utilitylink-item"><a class="utilitylink" href="https://github.com/ctpena/asagaoui">GitHub</a>
                </li>
            </ul>
        </div>
        <div class="header-menu">
            {{ partial "menu.html" . }}
        </div>
    </nav>
</header>
<dialog id="header-dialog-menu" class="drawer">
    <div class="drawer-header d-flex justify-end">
        <button class="hamburger-btn" type="button" command="close" commandfor="header-dialog-menu">
            <i class="hamburger-icon"></i>
            閉じる
        </button>
    </div>
    <div class="drawer-body">
        <ul class="mobilemenu">
            {{ range .Site.Sections }}
                <li class="mobilemenu-item">
                    <a class="mobilemenu-link {{ if hasPrefix $.RelPermalink .RelPermalink }}active{{ end }}"
                       href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
            {{ end }}
        </ul>
    </div>
    <div class="drawer-footer"></div>
</dialog>
