<div class="custom-header-area"></div>
<header class="header custom-header">
    <nav class="header-fixed">
        <a class="header-logo" href="{{ .Site.Home.RelPermalink }}">
            {{ $logo := resources.Get "img/AsagaoUILogo.svg" }}
            <img src="{{ $logo.RelPermalink }}" alt="{{ .Site.Title }}" width="137.5" height="55">
        </a>
        <div class="header-button">
            <details class="lang-select">
                <summary class="lang-select-btn">
                    <i class="ail-language"></i>
                    <span class="lang-select-label">Language</span>
                    <i class="ail-arrow_down"></i>
                </summary>
                <div class="lang-select-popup">
                    <ul class="lang-select-menu">
                        {{ $currentLang := .Lang }}
                        {{ range .AllTranslations }}
                            <li class="lang-select-item">
                                <a class="lang-select-link {{ if eq .Lang $currentLang }}active{{ end }}" href="{{ .RelPermalink }}">
                                    <i class="ail-check"></i>
                                    <span class="lang-select-link-label">{{ .Language.LanguageName }}</span>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </details>
            <button class="hamburger-iconbtn" type="button" command="show-modal" commandfor="header-dialog-menu">
                <i class="hamburger-icon"></i>
                {{ i18n "hamburger-iconbtn" }}
            </button>
        </div>
        <div class="header-items">
            <ul class="utilitylink-units">
                <li class="utilitylink-item"><a class="utilitylink" rel="external" href="https://github.com/ctpena/asagaoui">GitHub</a>
                </li>
            </ul>
        </div>
        <div class="header-menu">
            {{ partial "menu.html" . }}
        </div>
    </nav>
</header>
<dialog id="header-dialog-menu" class="drawer">
    <div class="drawer-header d-flex justify-end">
        <button class="hamburger-btn" type="button" command="close" commandfor="header-dialog-menu">
            <i class="hamburger-icon close"></i>
            {{ i18n "close-iconbtn" }}
        </button>
    </div>
    <div class="drawer-body">
        <ul class="mobilemenu">
            {{ range .Site.Sections }}
                <li class="mobilemenu-item">
                    <a class="mobilemenu-link {{ if hasPrefix $.RelPermalink .RelPermalink }}active{{ end }}"
                       href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
            {{ end }}
        </ul>
    </div>
    <div class="drawer-footer"></div>
</dialog>
