<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
<!-- OGP -->
<meta property="og:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://asagaoui.com{{ .RelPermalink }}" />
{{ partialCached "head/meta.html" . }}
{{ partialCached "head/schema-org.html" . }}
